@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600,900&family=Playfair+Display:ital@0;1&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: $black;
    background-color: $swiss-red;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 0.75;
    font-weight: 900;
    color: $white;
}

section {
    margin: $space-md 0;
}

.stock-tracker {
    padding: $space-lg;
    height: 100%;
   

    @include mobile {
        padding: $space-md;
    }
}

