// Spaces
$space-xxs: 5px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 40px;
$space-xlg: 80px;

// Breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;

// Colors
$black: #000000;
$white: #FFFFFF;
$grey: #CCCCCC;
$swiss-red: #CC0000;
